<div th:fragment="listofletters">
    <H2>Входящие сообщения</H2>

    <div class="container" th:each="letter : ${letters}">

        <div class="row">
            <div class="col-md-3">
                <p th:text="${letter.name}">User's name</p>
            </div>

            <div class="col-md-3">
                <p th:text="${letter.date}">Date</p>
            </div>

            <div class="col-md-3">
                <a th:href="'/admin/letter/' + ${letter.id}">Прочитать</a>
            </div>

            <div class="col-md-3">
                <form th:method="delete" th:action="'/admin/letter/' + ${letter.id}">
                    <input type="submit" value="Удалить">
                </form>
            </div>
        </div>
        <hr>


    </div>

</div>

