<div th:fragment="news">
    <div class="row mb-2">
        <div class="container">
            <H2>Новости</H2>
        </div>
        <div class="row mb-2">
            <div class="col-md-4" th:each="news : ${news}">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 th:text="${news.title}"></h3>
                        <p class="card-text mb-auto" th:text="${news.anons}"></p>
                        <a th:href=" 'companies/' + ${news.id}" class="stretched-link">Узнать больше</a>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>